{% extends "layout.html" %}

{% block heading %}
    {{ book.title }} in detail
{% endblock %}

{% block body %}

    {% if book %}
        <p>{{ book.title }} was written by {{ book.author }} in {{ book.year }} and it's ISBN Number is {{ book.isbn }}</p>
        <p> Reviews left by other users are below! Feel free to add your own! (Note: you can only submit one review per book)</p>
        {% if not session.get("user_id") %}
            <p>If you'd like to add your own you will need to Register and Log in first </p>
        {% endif %}

            {% if session.get("user_id") %}
            <form action="{{ url_for('book', book_id = book.id)     }}" method="post">
                <div class="form-group">
                    <label for="formGroupExampleInput">What did you think of this book?</label>
                    <input class="form-control" type="text" name="textreview" placeholder="Add your book review">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">What would you rate it out of 1 (low) to 5 (high)?</label>
                    <input class="form-control" type="number" name="rating" placeholder="Rating: 1 (low) - 5 (high)" min="1" max="5">
                </div>
            <button type="submit" class="btn btn-primary mb-2">Submit Review</button>
            </form>
            {% endif %}
    {% endif %}

    {% if reviews %}
        <p><i>Reviews by other users:</i></p>
            <div class="container">
                    <div class="row">
                        <div class="col-2">
                           <b>Rating</b>
                        </div>
                        <div class="col-6">
                            <b>Review</b>
                        </div>
                        <div class="col-2">
                            <b>Reviewer</b>
                        </div>
                    </div>
            </div>
    {% endif %}

    {% if reviews %}
            <div class="container">
                {% for review in reviews %}
                    <div class="row">
                        <div class="col-2">
                            {{ review.rating }}
                        </div>
                        <div class="col-6">
                            {{ review.review }}
                        </div>
                        <div class="col-2">
                            {{ review.reviewer }}
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endif %}
    {% if grRating %}
        <p><i>Reviews from Goodreadings.com:</i></p>
        <p>Average rating: {{ grRating }}</p>
        <p>Number of ratings: {{ grCount }}</p>
    {% endif %}
{% endblock %}