{% extends "layout.html" %}

{% block heading %}
    Book Detailed Page
{% endblock %}

{% block body %}
    {% for book in books %}
        <ul>

            <li>Detailed Book Summary for {{ book.title }}</li>
        </ul>
            <p> Add your own review!! </p>
            <form action="{{ url_for('book', book_id = book.id)     }}" method="post">
                <input type="text" name="review" placeholder="Add your book review">
                <input type="number" name="rating" placeholder="Rating: 1 (low) - 5 (high)">
                <input type="number" name="reviewer" placeholder="Add the Reviewer ID">
                <button>Submit</button>
            </form>
    {% endfor %}

    {% if reviews is not none %}
        <div class="container">
            {% for review in reviews %}
                <div class="row">
                    <div class="col-2">
                        {{ review.rating }}
                    </div>
                    <div class="col-6">
                        {{ review.review }}
                    </div>
                    <div class="col-2">
                        {{ review.reviewer }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}