{% extends "layout.html" %}

{% block heading %}
    Book Detailed Page
{% endblock %}

{% block body %}
    {% for book in books %}
        <ul>
            <li> {{ book.title }} was written by {{ book.author }} in {{ book.year }} and it's ISBN Number is {{ book.isbn }}</li>

        </ul>
            <p> Reviews left by other users are below! If you'd like to add your own you will need to Register and Log in first </p>
            <form action="{{ url_for('book', book_id = book.id)     }}" method="post">
                <input type="text" name="review" placeholder="Add your book review">
                <input type="number" name="rating" placeholder="Rating: 1 (low) - 5 (high)">
                <button>Submit</button>
            </form>
    {% endfor %}

    {% if reviews is not none %}
        <div class="container">
            {% for review in reviews %}
                <div class="row">
                    <div class="col-2">
                        {{ review.rating }}
                    </div>
                    <div class="col-6">
                        {{ review.review }}
                    </div>
                    <div class="col-2">
                        {{ review.reviewer }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}