{% extends "layout.html" %}

{% block heading %}
    Index Page
{% endblock %}

{% block body %}
    <p>
        This is the index page where you can select to login of go to the books search page
    </p>
    <ul>
        <li><a href="{{ url_for('books') }}">Click here if you would like to search our Books Database</a></li>
        <li><a href="{{ url_for('register') }}">Click here if you would like to Register</a></li>
        <li><a href="{{ url_for('login') }}">Click here if you would like to Log in</a></li>
    </ul>
{% endblock %}